/*===============================*/
/*           FONT FACES         */
/*===============================*/
@font-face {
  font-family: 'DB adman X';
  src: url('DB-Adman-X.ttf') format('woff2');
    font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DB adman X';
  src: url('DB-Adman-X-Bd.ttf') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.aboutus-crop {
    width: 1120px;
    height: 2000px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.aboutus1 {
position: absolute;
    right: -776px;
    bottom: -25px;
    width: auto;
    height: auto;
}

.caption-overlay {
  position: absolute;
  top: 30%;                 /* เลื่อนลงจากบนสุด */
  right: 40px;              /* ชิดขวา แต่เว้นระยะ */
  text-align: right;
  color: white;             /* หรือสีอื่นตามภาพ */
  line-height: 1.2;
  font-weight: bold;
}

.caption-overlay p {
  margin: 0;
  /* คุณปรับขนาดฟอนต์เองได้ตามต้องการ */
}