
.safety-text {
text-align: center;
line-height: 0.5;
}

.safety-header h8 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 6.5rem;
    color: #eb660e;
    margin-left: 70rem;
}

.safety-header p {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 2.7rem;
    color: #585858;
    margin-left: 79.8rem;
}

.drive-header {
    line-height: 0.2;
    margin-top: -10rem;
}

.drive1 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 4.5rem;
    color: #eb660e;
    margin-left: 8.5rem;
}

.drive2 {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 2rem;
    color: #585858;
    line-height: 1;
}

.drive3 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.6rem;
    color: #585858;
    line-height: 1;
}

.drive4 {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 1.6rem;
    color: #585858;
    line-height: 1;
}

.drive5 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 1.8rem;
    color: #585858;
    line-height: 1;
    margin-top: 4rem;
}

.drive6 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.5rem;
    color: #585858;
    line-height: 2;
    margin-top: 3rem;
}

.drive7 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.5rem;
    color: #eb660e;
    line-height: 2;
    margin-top: -13.5rem;
    margin-left: 16rem;
}

.drive8 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 1.8rem;
    color: #585858;
    line-height: 1;
    margin-top: 4rem;
}

.drive9 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.8rem;
    color: #eb660e;
    line-height: 1;
    margin-top: -3.6rem;
    margin-left: 16rem;
}

.lift-hhf {
    position: relative;
    top: -51rem;
    left: 75rem;
    width: 30rem;
    height: auto;
    z-index: 9999;
}