
.safety-text {
text-align: center;
line-height: 0.5;
}

.safety-header h8 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 6.5rem;
    color: #eb660e;
    margin-left: 70rem;
}

.safety-header p {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 2.7rem;
    color: #585858;
    margin-left: 79.8rem;
}

.drive-header {
    line-height: 0.2;
    margin-top: -10rem;
}

.drive-header h9 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 4.5rem;
    color: #eb660e;
    margin-left: 8.5rem;
}

.drive-header p {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 2.5rem;
    color: #585858;
    margin-left: 8.5rem;
}