
.safety-text {
    text-align: center;
    line-height: 0.5;
    margin-top: 36rem;
}

.safety-header h8 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 6.5rem;
    color: #eb660e;
    margin-left: 66rem;
}

.safety-header p {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 2.7rem;
    color: #585858;
    margin-left: 76rem;
}

.drive-header {
    line-height: 0.2;
    margin-top: 22rem;
    margin-left: 4.5rem;
}

.drive1 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 4.5rem;
    color: #eb660e;
}

.drive2 {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 2rem;
    color: #585858;
}

.drive3 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.6rem;
    color: #585858;
    line-height: 1;
    margin-top: 4rem;
    width: 56rem;
}

.drive4 {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 1.6rem;
    color: #585858;
    line-height: 1;
}

.drive5 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 1.8rem;
    color: #585858;
    line-height: 1;
    margin-top: 4rem;
}

.drive6 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.5rem;
    color: #585858;
    line-height: 2;
    margin-top: 3rem;
}

.drive7 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.5rem;
    color: #eb660e;
    line-height: 2;
    margin-top: -13.5rem;
    margin-left: 16rem;
}

.drive8 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 1.8rem;
    color: #585858;
    line-height: 1;
    margin-top: 4rem;
}

.drive9 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.8rem;
    color: #eb660e;
    line-height: 1;
    margin-top: -3.6rem;
    margin-left: 16rem;
}


.drive-header1 {
    line-height: 0.2;
    margin-top: 30rem;
    text-align: right;
    margin-right: 4.5rem;
}

.drive10 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 4.5rem;
    color: #eb660e;
    margin-left: 8.5rem;
}

.drive11 {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 2rem;
    color: #585858; 
}

.drive12 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.6rem;
    color: #585858;
    line-height: 1;
    margin-top: 4rem;
    width: 60rem;
    margin-left: 42.5rem;
}

.drive13 {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 1.6rem;
    color: #585858;
    line-height: 1;
}

.drive14{
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 1.8rem;
    color: #585858;
    line-height: 1;
    margin-top: 4rem;
}

.drive15 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.5rem;
    color: #585858;
    line-height: 2;
    margin-top: 3rem;
    margin-right: 10rem;
}

.drive16 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.5rem;
    color: #eb660e;
    line-height: 2;
    margin-top: -13.5rem;
    margin-right: -10rem;
}

.drive17 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 1.8rem;
    color: #585858;
    line-height: 1;
    margin-top: 4rem;
    margin-right: 10rem;
}

.drive18 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.8rem;
    color: #eb660e;
    line-height: 1;
    margin-top: -3.6rem;
    margin-right: -20rem;
}


.lift-hhf {
    position: relative;
    top: -123rem;
    left: 67rem;
    width: 57rem;
    height: auto;
    z-index: 9999;
}

.lift-thf {
    position: relative;
    top: -47rem;
    left: -62rem;
    width: 51rem;
    height: auto;
    z-index: 9999;
}



@media (max-width: 768px) {

  .safety-text {
    text-align: left;
    line-height: 1;
    margin-left: 3rem;
}

  .safety-header h8 {
    font-size: 4rem;
    margin-left: 0rem;
  }

  .safety-header p {
font-size: 1.5rem;
   margin-left: 0rem;
  }

  .drive-header {
   margin-top: 8rem;
   margin-left: 1.5rem;
  }

  .drive1, .drive10 {
    font-size: 3rem; /* ลดขนาดตัวอักษร */
  }

  .drive3, .drive12 {
  font-size: 1.4rem;
  width: 19rem;
  }

   
  .drive12 {
        font-size: 1.4rem;
        width: 19rem;
        margin-left: -1.8rem;
    }
  


   .drive6, .drive15 {
  font-size: 1.3rem;
margin-bottom: 25rem;
  }

   .drive7 {
  font-size: 1.3rem;
        width: 6rem;
        margin-left: 12rem;
  margin-top: -11.9rem;
  }

   .drive8 {
  font-size: 1.3rem;

  }

  .drive9 {
  font-size: 1.3rem;
        width: 11rem;
        margin-left: 12rem;
        margin-top: -2.8rem;
  }

   .drive2 {
    font-size: 1.3rem; /* ลดขนาดตัวอักษร */
    margin-top: -1rem;
  }

  .drive4, .drive5, .drive13, .drive14 {
    font-size: 1.5rem; /* ลดขนาดตัวอักษร */
  }

    .drive11 {
  font-size: 1.3rem;
  width: 17rem;
  margin-left: -2.8rem;
  margin-top: -1rem;

  }
    .drive16 {
    font-size: 1.3rem;
    margin-top: -11.5rem;
}

    .drive17 {
  font-size: 1.3rem;

  }

    .drive18 {
        font-size: 1.3rem;
        margin-top: -2.5rem;
        margin-right: -19rem;
  }

.drive-header1 {
        margin-right: 1.5rem;
}

  .lift-hhf, .lift-thf {
width: 0;
  }

}

@media (min-width: 992px) and (max-width: 1199px){

  .safety-text {
text-align: right;
        line-height: 1;
        margin-right: 3rem;
        margin-bottom: 25rem;
}

  .safety-header h8 {
        font-size: 7rem;
        margin-left: 0rem;
  }

  .safety-header p {
        font-size: 2.5rem;
        margin-left: 0rem;
        margin-top: 1rem;
  }

  .drive-header {
margin-top: 11rem;
        margin-left: 1.5rem;
  }

  .drive1, .drive10 {
    font-size: 5rem; /* ลดขนาดตัวอักษร */
  }

  .drive3, .drive12 {
  font-size: 3rem;
   width: 57rem;
   margin-top: 5rem;
  }

   
  .drive12 {
        font-size: 3rem;
        width: 62rem;
        margin-left: -4.5rem;
    }
  


   .drive6, .drive15 {
font-size: 2rem;
        margin-bottom: 25rem;
  }

   .drive7 {
font-size: 2rem;
        width: 11rem;
        margin-left: 28rem;
        margin-top: -17.9rem;
  }

   .drive8 {
   font-size: 2.5rem;

  }

  .drive9 {
 font-size: 2.5rem;
        width: 19rem;
        margin-left: 28rem;
        margin-top: -4.8rem;
  }

  .drive2, .drive4, .drive5, .drive13, .drive14 {
  font-size: 2.2rem;
        margin-top: 3rem;
  }

    .drive11 {
  font-size: 2.6rem;

  }
    .drive16 {
font-size: 2rem;
        margin-top: -18rem;
}

    .drive17 {
font-size: 2.5rem;

  }

    .drive18 {
        font-size: 2.5rem;
        margin-top: -5rem;
        margin-right: -20rem;
  }

.drive-header1 {
        margin-right: 1.5rem;
}

  .lift-hhf, .lift-thf {
width: 0;
  }

}


@media (min-width: 769px) and (max-width: 991px) {

  .safety-text {
text-align: right;
        line-height: 1;
        margin-right: 3rem;
        margin-bottom: 25rem;
}

  .safety-header h8 {
        font-size: 4rem;
        margin-left: 0rem;
  }

  .safety-header p {
font-size: 1.8rem;
        margin-left: 0rem;
        margin-top: 0.5rem;
  }

  .drive-header {
margin-top: 10rem;
        margin-left: 1.5rem;
  }

  .drive1, .drive10 {
          font-size: 4rem;
        margin-right: -2.5rem;
  }

  .drive3, .drive12 {
        font-size: 1.4rem;
        width: 29rem;
        margin-top: 4rem;
        line-height: normal;
  }

   
  .drive12 {
        font-size: 1.4rem;
        width: 37rem;
        margin-left: -0.4rem;
    }
  


   .drive6, .drive15 {
font-size: 1.2rem;
        margin-bottom: 25rem;
  }

   .drive7 {
font-size: 1.2rem;
        width: 11rem;
        margin-left: 16rem;
        margin-top: -10.7rem;
  }

   .drive8 {
  font-size: 1.7rem;

  }

  .drive9 {
font-size: 1.7rem;
        width: 19rem;
        margin-left: 16rem;
        margin-top: -3.4rem;
  }

    .drive2 {
        font-size: 1.7rem;
        margin-top: -1rem;
        width: 43rem;
    }

.drive4, .drive5 {
        font-size: 1.4rem;
        margin-top: 3rem;
        width: 30rem;
  }

.drive13 {
        font-size: 1.4rem;
        margin-top: 3rem;
        width: 26rem;
        margin-left: 11rem;
  }

.drive14 {
        font-size: 1.7rem;
        margin-top: 3rem;
        width: 43rem;
        margin-left: -17rem;
  }

    .drive11 {
  font-size: 1.7rem;

  }
    .drive16 {
        font-size: 1.2rem;
        margin-top: -10.8rem;
}

    .drive17 {
font-size: 2.5rem;

  }

    .drive18 {
        font-size: 1.7rem;
        margin-top: -4.3rem;
        margin-right: -20rem;
  }

.drive-header1 {
        margin-right: 1.5rem;
}

  .lift-hhf {
        width: 41%;
        left: 32rem;
        top: -151rem;
  }

 .lift-thf {
        width: 44%;
        left: -25rem;
        top: -71rem;
  }


}

@media (min-width: 1200px) and (max-width: 1599px) {

  .safety-text {
text-align: right;
        line-height: 1;
        margin-right: 3rem;
        margin-bottom: 25rem;
}

  .safety-header h8 {
        font-size: 5rem;
        margin-left: 0rem;
  }

  .safety-header p {
font-size: 2rem;
        margin-left: 0rem;
        margin-top: 1rem;
        padding-right: 0.4rem;
  }

  .drive-header {
margin-top: 11rem;
        margin-left: 1.5rem;
  }

  .drive1, .drive10 {
    font-size: 5rem; /* ลดขนาดตัวอักษร */
  }

  .drive3{
font-size: 1.7rem;
        width: 43rem;
        margin-top: 6rem;
  }

   
  .drive12 {
        font-size: 1.7rem;
        width: 40rem;
        margin-left: 32.7rem;
    }
  


   .drive6, .drive15 {
font-size: 1.5rem;
        margin-bottom: 25rem;
  }

   .drive7 {
font-size: 1.5rem;
        width: 11rem;
        margin-left: 28rem;
        margin-top: -13.5rem;
  }

   .drive8 {
   font-size: 1.7rem;

  }

  .drive9 {
font-size: 1.7rem;
        width: 19rem;
        margin-left: 28rem;
        margin-top: -3.4rem;
  }

  .drive2{
  font-size: 2rem;
        margin-top: -1.5rem;
  }

  .drive4, .drive5, .drive13, .drive14 {
font-size: 1.7rem;
        margin-top: 2.5rem;
  }

    .drive11 {
font-size: 2rem;
        margin-top: -1rem;

  }
    .drive16 {
        font-size: 1.5rem;
        margin-top: -13.rem;
}

    .drive17 {
font-size: 1.7rem;

  }

    .drive18 {
font-size: 1.7rem;
        margin-top: -3.4rem;
        margin-right: -20rem;
    }
  

.drive-header1 {
        margin-right: 2rem;
}

  .lift-hhf, .lift-thf {
width: 31rem;
  }
 .lift-hhf {
        top: -141rem;
        left: 51rem;
        width: 52%;
        border-radius: 20px;
    }

     .lift-thf {
        top: -66rem;
        left: -45rem;
        border-radius: 20px;
        width: 46%;
}
}