.scroll-container {
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  cursor: grab;
}

.scroll-track {
  display: flex;
  width: fit-content;
  transition: transform 0.3s ease;
}
.scroll-track img {
  user-select: none;
  pointer-events: none;
}