/* Quickbar สำหรับมือถือ */
.quickbar {
  display: none;
}

@media (max-width: 768px) {
    .quickbar {
        display: block;
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.15);
        z-index: 1000;
        font-family: 'DB Adman X';
    }


  .quickbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

  #quickbar-toggle {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    margin-right: 0.7rem;
  }

  .quickbar-menu {
    display: none;
    flex-direction: column;
    padding: 0 1rem 1rem;
    font-size: 1.2rem;
  }

  .quickbar-menu a {
    padding: 0.5rem 0;
    text-decoration: none;
    color: #333;
  }

  .quickbar-menu.show {
    display: flex;
  }

}