/* ซ่อน quickbar บน desktop */
.quickbar {
  display: none;
}



@media (max-width: 768px) {
  .top-bar {
    display: none;
  }

  .quickbar {
    display: block;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1100;
  }

  #quickbar-toggle {
    background: white;
    border: none;
    font-size: 2rem;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .quickbar-panel {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    font-family: 'DB Adman X';
    font-size: 1.3rem;
    transition: right 0.3s ease-in-out;
    z-index: 1200;
  }

  .quickbar-panel.open {
    right: 0;
  }

  .quickbar-close {
    align-self: flex-end;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
  }

  .quickbar-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  }

  .quickbar-divider {
    height: 25rem;
  }

  .quickbar-section a {
    text-decoration: none;
    color: #333;
  }

  .quickbar-section.contact div {
    color: #333;
    font-size: 1.1rem;
  }
}

.quickbar-panel .quickbar-section a,
.quickbar-panel .quickbar-section.contact div,
.quickbar-panel .quickbar-section.contact a {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s;
}

.quickbar-panel.open .quickbar-section a,
.quickbar-panel.open .quickbar-section.contact div,
.quickbar-panel.open .quickbar-section.contact a {
  animation: lineUp 0.4s ease-out forwards;
}

.quickbar-panel.open .quickbar-section a:nth-child(1),
.quickbar-panel.open .quickbar-section.contact a:nth-child(1) {
  animation-delay: 0.1s;
}
.quickbar-panel.open .quickbar-section a:nth-child(2),
.quickbar-panel.open .quickbar-section.contact a:nth-child(2) {
  animation-delay: 0.2s;
}
.quickbar-panel.open .quickbar-section a:nth-child(3),
.quickbar-panel.open .quickbar-section.contact a:nth-child(3) {
  animation-delay: 0.3s;
}
/* และต่อไปเรื่อย ๆ */
.quickbar-panel.open .quickbar-section.contact div {
  animation: lineUp 0.4s ease-out forwards;
  animation-delay: 0.4s;
}
.quickbar-panel.open .quickbar-section.contact a:nth-child(4) {
  animation-delay: 0.5s;
}
.quickbar-panel.open .quickbar-section.contact a:nth-child(5) {
  animation-delay: 0.6s;
}
.quickbar-panel.open .quickbar-section.contact a:nth-child(6) {
  animation-delay: 0.7s;
}
