
/*================= service-head ================= */

.service-head {
    display: flex;
    flex-direction: column;
    padding: 10%;
    margin-top: -50rem;

}

.service-head h1 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 5.5rem;
    color: #eb660e;
    margin-bottom: -1.5rem;
    width: 35rem;

}

.service-head h2 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 5.5rem;
    color: #eb660e;
    margin-bottom: -0.5rem;
}


.service-head p {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 2rem;
    color: #585858;
    margin-top: 1.5rem;

}


/*================= service-text ================= */

.service-text {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-top: -12rem;
    margin-bottom: 29rem;
}

.service-text h1 {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 1.5rem;
    color: #585858;
    margin-bottom: 2.5rem;
    width: 35rem;
}

.service-text h2 {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 1.7rem;
    color: #585858;
    margin-bottom: -5.5rem;
    width: 35rem;
    line-height: 1;
}

.service-text p {
    font-family: 'DB Adman X';
    font-weight: normal;
    font-size: 1.7rem;
    color: #585858;
    margin-top: 8.5rem;
    width: 35rem;
}


/*================= service-Picture ================= */

.service1 {
    width: 53%;
    height: auto;
    position: relative;
    top: -73rem;
    left: 53rem;
}


@media (min-width: 1200px) and (max-width: 1599px) {

.service-head {
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
    margin-top: 50rem;
}

.service-head h1 {
        font-size: 2rem;
        margin-bottom: -3.5rem;
}

.service-head h2 {
        font-size: 3.7rem;
        margin-bottom: -0.5rem;
}

.service-head p {
        font-size: 1.7rem;
        margin-top: 1.5rem;
}


/*================= service-text ================= */

.service-text {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin-top: -10rem;
}

.service-text h1 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        width: 29rem;
}

.service-text h2 {
        font-size: 1.5rem;
        margin-bottom: -5.5rem;
        width: 28rem;
}

.service-text p {
        font-size: 1.5rem;
        margin-top: 8.5rem;
        width: 29rem;
}


/*================= service-Picture ================= */

.service1 {
        width: 64%;
        top: -35rem;
        left: 47rem;
}

.service2 {
        width: 48%;
        top: -64rem;
        left: 24rem;
}

}


@media (max-width: 768px) {

.service-head {
        display: flex;
        flex-direction: column;
        padding: 10% 5%;
        margin-top: 30rem;
}

.service-head h1 {
        font-size: 2rem;
        margin-bottom: -2.5rem;
}

.service-head h2 {
        font-size: 2.7rem;
        margin-bottom: -0.5rem;
}

.service-head p {
        font-size: 1.7rem;
        margin-top: 1.5rem;
}


/*================= service-text ================= */

.service-text {
        padding: 0 5%;
        margin-top: -4rem;
}

.service-text h1 {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        width: 20rem;
}

.service-text h2 {
        font-size: 1.2rem;
        margin-bottom: -5.5rem;
        width: 20rem;
}

.service-text p {
        font-size: 1.1rem;
        margin-top: 8.5rem;
        width: 10rem;
}


/*================= service-Picture ================= */

.service1 {
        width: 156%;
        top: 3rem;
        left: -2rem;
}

.service2 {
        width: 83%;
        top: -46rem;
        left: 7rem;
}

}